@{
    ViewData["Title"] = "TASK";
}

<div class="text-center">
    <h1 class="display-4">PIANIFICA</h1>
    <p>Chiamata gestita, sei arrivato nel controller Pianifica dentro alla cartella Features</p>
</div>
