@{
    ViewData["Title"] = "PIANIFICA TASK";
}

<div class="text-center">
    <h1 class="display-4">PIANIFICA TASK</h1>
    <p>Chiamata gestita, sei arrivato nell'Area Pianifica, controller Task</p>
</div>
