@model Guid
@{
    ViewData["Title"] = "UTENTI EDIT";
}

<div class="text-center">
    <h1 class="display-4">UTENTI EDIT</h1>
    <p>Chiamata gestita, sei arrivato nell'Area Configura, controller Utenti, action Edit</p>
    <p>Id: @Model</p>
</div>
