@{
    ViewData["Title"] = "UTENTI INDEX";
}

<div class="text-center">
    <h1 class="display-4">UTENTI INDEX</h1>
    <p>Chiamata gestita, sei arrivato nell'Area Configura, controller Utenti, action Index</p>
</div>
