@model Laboratorio2.Web.Features.News.NewsDetailViewModel
@{
    ViewData["Title"] = "news";
}

<div class="text-center">
    <h1 class="display-4">News con slug @Model.Slug</h1>
    <p>Anno @Model.Anno</p>
    <p>Mese @Model.Mese</p>
    <p>Giorno @Model.Giorno</p>
</div>
