@model Guid
@{
    ViewData["Title"] = "VEICOLI EDIT";
}

<div class="text-center">
    <h1 class="display-4">VEICOLI EDIT</h1>
    <p>Chiamata gestita, sei arrivato nell'Area Configura, controller Veicoli, action Edit</p>
    <p>Id: @Model</p>
</div>
