@model string
@{
    ViewData["Title"] = "VEICOLI CHECK PLATE";
}

<div class="text-center">
    <h1 class="display-4">VEICOLI CHECK PLATE</h1>
    <p>Chiamata gestita, sei arrivato nell'Area Configura, controller Veicoli, action CheckPlate</p>
    <p>PlateNumber: @Model</p>
</div>
